

    <div class="container">
      <div class="col-md-6">
        <div class="well well-2">
          <h2>*Comment On Us!!</h2>
          <hr>
          <h3>Name: <input type="text" style="width: 300px"/><br><br></h3>
          <h3>Address: <input type="text" style="width: 300px"/><br><br></h3>
          <h3>Comment:</h3><br/><br/>
          <div class="form-group">

            <textarea class="form-control post-content" placeholder="Create a new comment..."></textarea>

          </div><br><br><br><br/>

          <button class="btn btn-primary pull-right">Submit</button>

        </div>
      </div>

      <div class="col-md-6">
        <div class="well well-2">
          <h3>*Comment List</h3>
          <hr>
          <div class="left">
            <h4 style="margin-left: 10px">Maria Reyna Ordaniza <a href="#" style="margin-left: 165px">View Comment</a></h4>
            <h5 style="margin-left: 100px; color: cornflowerblue">Alangalang Leyte</h5>
            <h4>Commented at: (the date and time)</h4>
            <h4>Updated at: (the date and time)</h4>
          </div>
          <br><br>
          <div class="left">
            <h4 style="margin-left: 10px">Maria Reyna Ordaniza <a href="#" style="margin-left: 165px">View Comment</a></h4>
            <h5 style="margin-left: 100px; color: cornflowerblue">Alangalang Leyte</h5>
            <h4>Commented at: (date and time)</h4>
            <h4>Updated at: (date and time)</h4>
          </div>

        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <center>
          <h3 class="text-muted">All Rights Reserved</h3>
          <h4>2015</h4>
        </center>
      </div>
    </footer>