

    <div class="container">
      <!--<div class="row">-->
      <div class="col-md-6">
        <div class="well well-3">
          <h4>Locate Us!</h4>
          <hr>
          <img src="/assets/map.png" alt=""/>
          <br><br><br>
          <h4>Our Address: <p style="color: #000000; font-size: 25px">Palo Leyte</p></h4>
        </div>
      </div>

      <div class="col-md-6">
        <div class="well well-1">
          <h4>Like Us On.. <br><br>
            <img src="/assets/facebook.png" class="png" alt=""/> facebook.com/AmakanPh
          </h4>
        </div>
      </div>

      <div class="col-md-6">
        <div class="well well-1">
          <h4>Follow Us On.. <br><br>
            <img src="/assets/twitter.png" class="png" alt=""/> @AmakanPh
          </h4>
        </div>
      </div>

      <div class="col-md-6">
        <div class="well well-1">
          <h4>Email Us On.. <br><br>
            <img src="/assets/email.png" class="png" alt=""/> Amakan@gmail.com
          </h4>
        </div>
      </div>
      <!--</div>-->
    </div>

    <footer class="footer">
      <div class="container">
        <center>
          <h3 class="text-muted">All Rights Reserved</h3>
          <h4>2015</h4>
        </center>
      </div>
    </footer>