<p id="notice"><%= notice %></p>

<div class="container con1">
  <div class="row">
    <div class="col-md-6">
      <div class="well well1">
        <h3 class="history">
          Who We Are
        </h3>
        <div class="row">
          <p class="para">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda
            dolores doloribus error esse eveniet excepturi exercitationem harum
            impedit ipsam iusto magni non perspiciatis quod,
            recusandae repudiandae soluta tempora voluptatem voluptatibus?
          </p>
          <p class="para">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda
            dolores doloribus error esse eveniet excepturi exercitationem harum
            impedit ipsam iusto magni non perspiciatis quod,
            recusandae repudiandae soluta tempora voluptatem voluptatibus?
          </p>
          <p class="para">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda
            dolores doloribus error esse eveniet excepturi exercitationem harum
            impedit ipsam iusto magni non perspiciatis quod,
            recusandae repudiandae soluta tempora voluptatem voluptatibus?
          </p>
          <p class="para">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda
            dolores doloribus error esse eveniet excepturi exercitationem harum
            impedit ipsam iusto magni non perspiciatis quod,
            recusandae repudiandae soluta tempora voluptatem voluptatibus?
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div id="carousel-example-generic"
             class="carousel slide"
             data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic"
                data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic"
                data-slide-to="1" class="active"></li>
            <li data-target="#carousel-example-generic"
                data-slide-to="2" class="active"></li>
            <li data-target="#carousel-example-generic"
                data-slide-to="3" class="active"></li>
            <li data-target="#carousel-example-generic"
                data-slide-to="4" class="active"></li>
            <li data-target="#carousel-example-generic"
                data-slide-to="5" class="active"></li>
            <li data-target="#carousel-example-generic"
                data-slide-to="6" class="active"></li>
            <li data-target="#carousel-example-generic"
                data-slide-to="7" class="active"></li>
            <li data-target="#carousel-example-generic"
                data-slide-to="8" class="active"></li>
            <li data-target="#carousel-example-generic"
                data-slide-to="9" class="active"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">
              <a href="/assets/a.jpeg"><img src="/assets/a.jpeg" class="amakan-image1" alt="images"/></a>
            </div>
            <div class="item">
              <a href="/assets/a1.jpeg"><img src="/assets/a1.jpeg" class="amakan-image1" alt="images"/></a>

            </div>
            <div class="item">
              <a href="/assets/a2.jpeg"><img src="/assets/a2.jpeg" class="amakan-image1" alt="images"/></a>

            </div>
            <div class="item">
              <a href="/assets/a3.jpeg"><img src="/assets/a3.jpeg" class="amakan-image1" alt="images"/></a>

            </div>
            <div class="item">
              <a href="/assets/a4.jpeg"><img src="/assets/a4.jpeg" class="amakan-image1" alt="images"/></a>

            </div>
            <div class="item">
              <a href="/assets/a5.jpeg"><img src="/assets/a5.jpeg" class="amakan-image1" alt="images"/></a>

            </div>
            <div class="item">
              <a href="/assets/a6.jpeg"><img src="/assets/a6.jpeg" class="amakan-image1" alt="images"/></a>

            </div>
            <div class="item">
              <a href="/assets/a7.jpeg"><img src="/assets/a7.jpeg" class="amakan-image1" alt="images"/></a>

            </div>
            <div class="item">
              <a href="/assets/a8.jpeg"><img src="/assets/a8.jpeg" class="amakan-image1" alt="images"/></a>

            </div>
            <div class="item">
              <a href="/assets/a9.jpeg"><img src="/assets/a9.jpeg" class="amakan-image1" alt="images"/></a>

            </div>
          </div>
          <a href="#carousel-example-generic"  class="left carousel-control"
             data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a href="#carousel-example-generic" class="right carousel-control"
             data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="well form">
          <center>
            <h3 class="contact">Where to Find Us</h3>

          </center>
          <div class="row">
            <div class="col-md-4">
              <center>
                <h4 class="us">Talk To Us:</h4>
                <img src="/assets/Untitled-4.png" alt="image" class="talk"/>
                <p class="num1">0912-345-678-9</p>
              </center>
            </div>
            <div class="col-md-4">
              <center>
                <h4 class="us">Locate Us:</h4>
                <img src="/assets/Untitled-1.png" alt="image" class="talk1"/>
                <a href="#locatemodal" data-toggle="modal">
                  <p class="num">Pawing ,Palo ,Leyte</p>
                </a>
                <div class="modal fade"
                     id="locatemodal" tabindex="-1"
                     role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button class="close" data-dismiss="modal">
                          &times;
                        </button>
                        <h4 class="instructions">Our Location</h4>
                      </div>
                      <div class="modal-body">
                        <img src="/assets/map.png" alt="map"/>
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-primary"
                                data-dismiss="modal">
                          OK
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </center>
            </div>
            <div class="col-md-4">
              <center>
                <h4 class="us">Email Us:</h4>
                <img src="/assets/Untitled-5.png" alt="image" class="talk2"/>
                <p class="num1">Amakan@gmail.com</p>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>