<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well well3">
        <h3 class="reservation">Edit <%= resource_name.to_s.humanize %></h3>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
              <center>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                    <%= devise_error_messages! %>
                    <div class="field">
                      <%= f.label :lastname %><br />
                      <%= f.text_field :lastname, autofocus: true %>
                    </div>
                    <div class="field">
                      <%= f.label :firstname %><br />
                      <%= f.text_field :firstname %>
                    </div>
                    <div class="field">
                      <%= f.label :middlename %><br />
                      <%= f.text_field :middlename %>
                    </div>
                    <div class="field">
                      <%= f.label :email %><br />
                      <%= f.email_field :email, autofocus: true %>
                    </div>

                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                    <% end %>

                    <div class="field">
                      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                      <%= f.password_field :password, autocomplete: "off" %>
                    </div>

                    <div class="field">
                      <%= f.label :password_confirmation %><br />
                      <%= f.password_field :password_confirmation, autocomplete: "off" %>
                    </div>

                    <div class="field">
                      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                      <%= f.password_field :current_password, autocomplete: "off" %>
                    </div>

                    <div class="actions">
                      <%= f.submit "Update" %>
                    </div>
                <% end %>

                <h3>Cancel my account</h3>

                <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

                <%= link_to "Back", mysite_home_path %>
              </center>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </div>
</div>