<p id="notice"><%= notice %></p>

<div class="container con1">
  <div class="row">
    <div class="col-md-6">
      <div class="well well1">
        <h3 class="history">
          Who We Are
        </h3>
        <div class="row">
          <p class="para">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda
            dolores doloribus error esse eveniet excepturi exercitationem harum
            impedit ipsam iusto magni non perspiciatis quod,
            recusandae repudiandae soluta tempora voluptatem voluptatibus?
          </p>
          <p class="para">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda
            dolores doloribus error esse eveniet excepturi exercitationem harum
            impedit ipsam iusto magni non perspiciatis quod,
            recusandae repudiandae soluta tempora voluptatem voluptatibus?
          </p>
          <p class="para">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda
            dolores doloribus error esse eveniet excepturi exercitationem harum
            impedit ipsam iusto magni non perspiciatis quod,
            recusandae repudiandae soluta tempora voluptatem voluptatibus?
          </p>
          <p class="para">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda
            dolores doloribus error esse eveniet excepturi exercitationem harum
            impedit ipsam iusto magni non perspiciatis quod,
            recusandae repudiandae soluta tempora voluptatem voluptatibus?
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <br/>
      <div class="well form">
        <div class="row">
          <center>
            <h2 class="h2">Sign up</h2>
          </center>
        </div>
        <br/>
        <br/>
        <div class="row">
          <center>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>
              <div class="field">
                <%= f.label :lastname %><br />
                <%= f.text_field :lastname , autofocus: true , placeholder: 'Lastname' %>
              </div>
              <div class="field">
                <%= f.label :firstname %><br />
                <%= f.text_field :firstname , placeholder: 'Firstname' %>
              </div>
              <div class="field">
                <%= f.label :middlename %><br />
                <%= f.text_field :middlename , placeholder: 'Middlename' %>
              </div>
              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email , placeholder: 'Email' %>
              </div>

              <div class="field">
                <%= f.label :password %>
                <% if @validatable %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "off" , placeholder: 'Password' %>
              </div>

              <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off" , placeholder: 'Confirmation' %>
              </div>

              <div class="actions">
                <%= f.submit "Sign up" , class: 'btn btn-success' %>
                <%= link_to "Cancel" , mysite_home_path , class: 'btn btn-danger' %>
              </div>
          <% end %>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>