
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="well well4">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-5">
              <h3 class="like">*Comment List</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <center>
                  <table class="table table-bordered">
                    <thead class="thead">
                    <tr>
                      <th class="text-center"><center>Commenter</center></th>
                      <th class="text-center"><center>Article</center></th>
                      <th class="text-center" colspan="3"><center>Action</center></th>
                    </tr>
                    </thead>

                    <tbody>
                    <% @comments.each do |comment| %>
                        <tr>
                          <td><%= comment.commenter %></td>
                          <td class="th1"><%= comment.article %></td>
                          <td><%= link_to 'Show', comment %></td>
                          <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
                          <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                    <% end %>
                    </tbody>
                  </table>
                  <br/>
                  <%= link_to 'New Comment', new_comment_path, class: 'btn btn-primary commentbtn' %>
                </center>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
