<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well well3">
        <h3 class="reservation">Reservation List .. .</h3>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="well table table-bordered">
              <table class=" table table-bordered">
                <thead>
                <tr>
                  <th class="text-center">Fullname</th>
                  <th class="text-center">Address</th>
                  <!--<th class="text-center">Email</th>-->
                  <!--<th class="text-center">Password</th>-->
                  <th class="text-center">Quantity</th>
                  <th class="text-center" colspan="3">Option</th>
                </tr>
                </thead>

                <tbody>
                <% @reservations.each do |reservation| %>
                    <tr>
                      <td><%= reservation.fullname %></td>
                      <td><%= reservation.address %></td>
                      <td><%= reservation.quantity %></td>
                      <td><%= link_to 'Show', reservation %></td>
                      <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
                      <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                <% end %>
                </tbody>
              </table>

              <br>

              <%= link_to 'New Reservation', new_reservation_path %>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </div>
</div>

