<div class="container con2">
  <div class="row row3">
    <div class="col-md-3">
      <div class="well">
        <div class="row">
          <img src="/assets/a.jpeg" class="product_image"/>
        </div>
        <div class="row row2">
          <p class="product_name">Product Name: Amakan_Design-1</p>
          <p class="product_price">Product Price: Php 380.00</p>
          <a href="#myModal" data-toggle="modal">Instructions to Reserve</a>
          <center>
            <a href="#myModal1" data-toggle="modal">
              <button class="btn btn-default btn-sm btn4">Make Your Reservation</button>
            </a>
          </center>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="well">
        <div class="row">
          <img src="/assets/a1.jpeg" class="product_image"/>
        </div>
        <div class="row row2">
          <p class="product_name">Product Name: Amakan_Design-2:</p>
          <p class="product_price">Product Price: Php 350.00</p>
          <a href="#myModal" data-toggle="modal">Instructions to Reserve</a>
          <center>
            <a href="#myModal1" data-toggle="modal">
              <button class="btn btn-default btn-sm btn4">Make Your Reservation</button>
            </a>
          </center>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="well">
        <div class="row">
          <img src="/assets/a2.jpeg" class="product_image"/>
        </div>
        <div class="row row2">
          <p class="product_name">Product Name: Amakan_Design-3 </p>
          <p class="product_price">Product Price: Php 360.00</p>
          <a href="#myModal" data-toggle="modal">Instructions to Reserve</a>
          <center>
            <a href="#myModal1" data-toggle="modal">
              <button class="btn btn-default btn-sm btn4">Make Your Reservation</button>
            </a>
          </center>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="well">
        <div class="row">
          <img src="/assets/a3.jpeg" class="product_image"/>
        </div>
        <div class="row row2">
          <p class="product_name">Product Name: Amakan_Design-4</p>
          <p class="product_price">Product Price: Php 390.00 </p>
          <a href="#myModal" data-toggle="modal">Instructions to Reserve</a>
          <center>
            <a href="#myModal1" data-toggle="modal">
              <button class="btn btn-default btn-sm btn4">Make Your Reservation</button>
            </a>
          </center>
        </div>
      </div>
    </div>
  </div>
  <div class="row row4">
    <div class="col-md-3">
      <div class="well">
        <div class="row">
          <img src="/assets/a4.jpeg" class="product_image"/>
        </div>
        <div class="row row2">
          <p class="product_name">Product Name: Amakan_Design-5</p>
          <p class="product_price">Product Price: Php 390.00</p>
          <a href="#myModal" data-toggle="modal">Instructions to Reserve</a>
          <center>
            <a href="#myModal1" data-toggle="modal">
              <button class="btn btn-default btn-sm btn4">Make Your Reservation</button>
            </a>
          </center>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="well">
        <div class="row">
          <img src="/assets/a5.jpeg" class="product_image"/>
        </div>
        <div class="row row2">
          <p class="product_name">Product Name: Amakan_Design-6</p>
          <p class="product_price">Product Price: Php 390.00</p>
          <a href="#myModal" data-toggle="modal">Instructions to Reserve</a>
          <center>
            <a href="#myModal1" data-toggle="modal">
              <button class="btn btn-default btn-sm btn4">Make Your Reservation</button>
            </a>
          </center>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="well">
        <div class="row">
          <img src="/assets/a6.jpeg" class="product_image"/>
        </div>
        <div class="row row2">
          <p class="product_name">Product Name: Amakan_Design-7</p>
          <p class="product_price">Product Price: Php390.00</p>
          <a href="#myModal" data-toggle="modal">Instructions to Reserve</a>
          <center>
            <a href="#myModal1" data-toggle="modal">
              <button class="btn btn-default btn-sm btn4">Make Your Reservation</button>
            </a>
          </center>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="well">
        <div class="row">
          <img src="/assets/a7.jpeg" class="product_image"/>
        </div>
        <div class="row row2">
          <p class="product_name">Product Name: Amakan_Design-8</p>
          <p class="product_price">Product Price: Php 410.00</p>
          <a href="#myModal" data-toggle="modal">Instructions to Reserve</a>
          <center>
            <a href="#myModal1" data-toggle="modal">
              <button class="btn btn-default btn-sm btn4">Make Your Reservation</button>
            </a>
          </center>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade"
       id="myModal" tabindex="-1"
       role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">
            &times;
          </button>
          <h4 class="instructions">Instructions</h4>
        </div>
        <div class="modal-body">
          <ol class="instruction_list">
            <li>
              <p>Lorem ipsum dolor sit amet, consectetur
                adipisicingelit. Accusamus accusantium animi
                asperiores atque,aut consectetur consequatur
                doloremque ea earum eligendi excepturi harum
                illo inventore itaque omnis quos
                repellendus sapiente, tenetur!</p>
            </li>
            <li>
              <p>Lorem ipsum dolor sit amet, consectetur
                adipisicingelit. Accusamus accusantium animi
                asperiores atque,aut consectetur consequatur
                doloremque ea earum eligendi excepturi harum
                illo inventore itaque omnis quos
                repellendus sapiente, tenetur!</p>
            </li>
            <li>
              <p>Lorem ipsum dolor sit amet, consectetur
                adipisicingelit. Accusamus accusantium animi
                asperiores atque,aut consectetur consequatur
                doloremque ea earum eligendi excepturi harum
                illo inventore itaque omnis quos
                repellendus sapiente, tenetur!</p>
            </li>
            <li>
              <p>Lorem ipsum dolor sit amet, consectetur
                adipisicingelit. Accusamus accusantium animi
                asperiores atque,aut consectetur consequatur
                doloremque ea earum eligendi excepturi harum
                illo inventore itaque omnis quos
                repellendus sapiente, tenetur!</p>
            </li>
            <li>
              <p>Lorem ipsum dolor sit amet, consectetur
                adipisicingelit. Accusamus accusantium animi
                asperiores atque,aut consectetur consequatur
                doloremque ea earum eligendi excepturi harum
                illo inventore itaque omnis quos
                repellendus sapiente, tenetur!</p>
            </li>
          </ol>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary"
                  data-dismiss="modal">
            OK
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade"
       id="myModal1" tabindex="-1"
       role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">
            &times;
          </button>
          <h4 class="reserve">New Reservation</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-5">
              <img src="/assets/a.jpeg" class="product_image"/>
            </div>
            <div class="col-md-7">
              <%= render 'form' %>
            </div>
          </div>
        </div>
          <%= link_to 'Back', reservations_path %>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade"
       id="myModal2" tabindex="-1"
       role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">
            &times;
          </button>
          <h4 class="reserve">Success :D</h4>
        </div>
        <div class="modal-body">
          <h3 class="tnx">
            Mr./Mrs. __________________ ,your request<br>
            has been successfully sent...<br/>
            Thank You!
          </h3>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary"
                  data-dismiss="modal">
            OK
          </button>
        </div>
      </div>
    </div>
  </div>

</div>








