<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @reservation.fullname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @reservation.address %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @reservation.quantity %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
