<p id="notice"><%= notice %></p>

<div class="container con1">
  <div class="row">
    <div class="col-md-6">
      <div class="well well1">
        <h3 class="history">
          Who We Are
        </h3>
        <div class="row">
          <p class="para">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda
            dolores doloribus error esse eveniet excepturi exercitationem harum
            impedit ipsam iusto magni non perspiciatis quod,
            recusandae repudiandae soluta tempora voluptatem voluptatibus?
          </p>
          <p class="para">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda
            dolores doloribus error esse eveniet excepturi exercitationem harum
            impedit ipsam iusto magni non perspiciatis quod,
            recusandae repudiandae soluta tempora voluptatem voluptatibus?
          </p>
          <p class="para">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda
            dolores doloribus error esse eveniet excepturi exercitationem harum
            impedit ipsam iusto magni non perspiciatis quod,
            recusandae repudiandae soluta tempora voluptatem voluptatibus?
          </p>
          <p class="para">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda
            dolores doloribus error esse eveniet excepturi exercitationem harum
            impedit ipsam iusto magni non perspiciatis quod,
            recusandae repudiandae soluta tempora voluptatem voluptatibus?
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <div class="well form">
        <div class="row">
          <center>
            <h2 class="h2">Log in</h2>
          </center>
        </div>
        <br/>
        <br/>
        <div class="row">
          <center>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.label :email %> <br/>
                <%= f.email_field :email, autofocus: true , placeholder: 'Email' %>
              </div>

              <div class="field">
                <%= f.label :password  %> <br/>
                <%= f.password_field :password, autocomplete: "off" , placeholder: 'Password' %>
              </div>

              <% if devise_mapping.rememberable? -%>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
              <% end -%>

              <div class="actions">
                <%= f.submit "Log in" , class: 'btn btn-success' %>
                <%= link_to "Cancel" , mysite_home_path , class: 'btn btn-danger' %>
              </div>
          <% end %>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>
