/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*start_navigation*/
html {
    position: relative;
    min-height: 100%;
}
body {
    background: lightgray;
    margin: 0 0 100px; /* bottom = footer height */
}
.amakan-header {
    height: 100px;
}
.nav-image {
    height: 86px;
    width: 120px;
}
.list {
    margin-top: 15px;
}
.anchor {
    color: #ffffff;
}
.btn, .navbar, .form-control{
    border-radius: 0;
}
.navbar-default {
    background: red;
    border: transparent;
    border-top: 5px solid graytext;
    border-bottom: 5px solid graytext;
}
.navbar-nav > li:hover {
    -webkit-transition: all 0.10s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;

    background: #ffffff;
}
.navbar-default .navbar-nav >.open > a:focus {
    background: #ffffff;
}
.navbar-default .navbar-nav >li >a {
    padding: 18px;
    color: #ffffff;
}
.navbar-brand {
    padding: 18px;
}
.footer {
    height: 80px;
    background-color: red;
    border: transparent;
    border-top: 5px solid graytext;
    border-bottom: 5px solid graytext;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.text-muted {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

/*end_navigation*/

/*start_home*/

.history {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #000000;
    color: crimson;
}
.well1 {
    background: lightgrey;
    height: 560px;
}
.para {
    line-height: 2em;
}
.amakan-image1 {
    width: 100%;
    height: 100%;
}
.like {
    font-weight: bold;
    color: darkred;
    margin-top: 20px;
}
.btn1 {
    margin-top: 30px;
}
.row1 {
    overflow-y: scroll;
    overflow-x: scroll;
    height: 250px;
}
.fieldset {
    width: 200px;
    margin: auto;
}
.now {
    list-style-type: none;
    font-weight: bold;
}
.input_list {
    width: 400px;
    height: 30px;
    margin-top: 10px;
}
.btn2 {
    margin-top: 20px;
    width: 85px;
    height: 30px;
}
.btn3 {
    margin-top: 20px;
    margin-right: 10px;
    width: 70px;
    height: 30px;
}
.sign {
    display: none;
}
.table-bordered {
    text-align: center;
}
.thead {
    font-size: 16px;
}
.action {
    text-align: center;
}
.newlink {
    font-size: 16px;
    font-weight: bold;
    color: cyan;
}
.input {
    width: 350px;
}
.btn5 {
    height: 30px;
    color: black;
}
.parag {
    font-size: 18px;
    line-height: 1.5em;
}
.h2 {
    font-size: 18px;
    font-weight: bold;
    color: red;
}
.form {
    background: lightgrey;
}
.text1 {
    margin-left: -30px;
}
.input1 {
    margin-left: 30px;
}
.input {
    margin-left: 30px;
}
.contact {
    font-size: 20px;
    font-weight: bold;
    color: red;
}
.num {
    color: cadetblue;
}
.num:hover {
    text-decoration: underline;
    color: red;
}
.num1 {
    color: cadetblue;
}
.us {
    font-weight: bold;
}
b {
    color: #000000;
}
.talk {
    width: 130px;
    height: 90px;
}
.talk1 {
    width: 130px;
    height: 90px;
}
.talk2 {
    width: 130px;
    height: 90px;
}

/*end_home*/

/*start_product*/

.well2 {
    height: 50px;
}
.costumer {
    font-size: 16px;
    font-weight: bold;
}
.product_image {
    width: 100%;
    height: 200px;
}
.btn4 {
    margin-top: 20px;
}
.modal-header {
    background: #ff3d4e;
}
.instructions {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}
.reserve {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}
.send:hover {
    text-decoration: none;
    color: #000000;
}
.tnx {
    font-size: 20px;
    font-weight: bold;
}
.page {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

/*end_product*/

/*start_bulletin*/

.well3 {
    background: #ff4a4c;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 560px;
}
.reservation {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

/*end_bulletin*/

/*start_comments*/

.well4 {
    height: 560px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.table2 {
    margin: auto;
}
.th1 {
    width: 100px;
}
.commentbtn {

}

/*end_comments*/

/*quantity*/

.ticket{
    display: none;
}
.vacation{
    background-color: lightskyblue;
    opacity: 8;
    width: 300px;
    height: 200px;
    padding: 5px;
    float: left;
    list-style-type: none;
    text-align: center;
    margin: 0px;
}
fieldset{
    width: 300px;
    margin-left: 450px;
    /*background-image: url("388473.jpg");*/
    color: red;
}

/*end of quantity*/

.table {
    text-align: center;
}
