<!DOCTYPE html>
<html>
<head>
  <title>Amakan Online Reservation System</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar anchor navbar-default">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="navbar-header">
                    <button class="navbar-toggle"
                        data-toggle="collapse"
                        data-target="#navbarToggle">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="/assets/Amakan%20logo.png" class="nav-image"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="collapse navbar-collapse" id="navbarToggle">
                            <ul class="nav navbar-nav navbar-right">
                              <%if signed_in?%>
                                <li class="list"><%= link_to 'Home', mysite_home_path  %></li>
                                <li class="list"><%= link_to 'Product', reservations_new_path  %></li>
                                <li class="list"><%= link_to '*Reservations', reservations_path  %></li>
                                <li class="list"><%= link_to 'Comments', comments_path  %></li>
                                <li class="dropdown list">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">User Account <span class="caret"></span></a>
                                  <ul class="dropdown-menu" role="menu">
                                    <li><%=link_to current_user.email, edit_user_registration_path %></li>
                                    <li><%=link_to "Logout", destroy_user_session_path, method: :delete %></li>
                                  </ul>
                                </li>
                              <%else%>
                                  <li class="list"><%=link_to "Register", new_user_registration_path %></li>
                                  <li class="list"><%=link_to "Login", new_user_session_path %></li>
                              <%end%>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<%= yield %>
<footer class="footer">
    <div class="container">
        <center>
            <h3 class="text-muted">All Rights Reserved</h3>
            <h4>2015</h4>
        </center>
    </div>
</footer>

</body>
</html>
